@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
/*-------NavBar Start------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    background-color: #000000;
  }
header a{
    color: #fff;
    font-family: "Rokkitt",sans-serif;
    text-decoration: none;
}
.navbar-logo a{
    font-size: 35px;
  }
  
.nav_links li a{
    font-size: 30px;
    transition: all .3s ease 0s;
  }

.nav_links li a:hover, .navbar-logo a:hover{
    color: red;
    transition: all .3s ease 0s;
  }
/*-------NavBar End------*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
}
/*-------Image Banner Start------*/
.slider{
    width: 800px;
    max-width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .6;
    animation: slide 10s ease-in running alternate-reverse infinite forwards;

}

@keyframes slide{
    0%{
        background-image: url(/res/img/img1.jpg);
    }
    16.67%{
        background-image: url(/res/img/img1.jpg);
    }
    16.68%{
        background-image: url(/res/img/img2.jpg);
    }
    32.84%{
        background-image: url(/res/img/img2.jpg);
    }
    32.85%{
        background-image: url(/res/img/img3.jpg);
    }
    49.51%{
        background-image: url(/res/img/img3.jpg);
    }
    49.52%{
        background-image: url(/res/img/img4.jpg);
    }
    66.18%{
        background-image: url(/res/img/img4.jpg);
    }
    66.19%{
        background-image: url(/res/img/img5.jpg);
    }
    82.85%{
        background-image: url(/res/img/img5.jpg);
    }
    82.86%{
        background-image: url(/res/img/img6.jpg);
    }
    100%{
        background-image: url(/res/img/img6.jpg);
    }
    
}
/*-------Image Banner End------*/

/*-------------NEWS START------------*/
.news{
    margin-left: 40px 40px;
    position: relative;
}

.news-head{
    position: absolute;
    background-color:  #023788;
    color: aliceblue;
    padding: 5px;
    letter-spacing: 2px;
    z-index: 2;
    font: 15px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.news-head::before,
.news-head::after{
    content: '';
    position: absolute;
    border: 25px solid;
    z-index: -1;
}

.news-head::before{
    border-color: #023788 transparent transparent transparent;
    right: -25px;
    top: 0;
}

.news-head::after{
    border-color: transparent transparent #023788 transparent;
    right: -25px;
    bottom: 0;
}

.news-content{
    height: 30px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    color: #d2dbe9;
    background: #880202;
}

.news-content p{
    overflow: hidden;
    font-size: medium;
    transform: translateX(100%);
    animation: mymove 9s infinite linear;
}

@keyframes mymove {
    0% {
      transform: translateX(100%) ;
    }
    100% {
        transform: translateX(-100%);
    }
  }
  
/*-------------NEWS END------------*/

.main{
    border: 6px solid #023788;
    width: 100%;
    height: 300px;
}

.item-1{
    grid-area: 2/4/2/5;
}

.item-2{
    grid-area: 3/4/4/5;
}

.item-3{
    grid-area: 5/4/5/5;
}

footer{
    grid-area: 5/1/6/6;
    height: fit-content;
    width: fit-content;
}

footer iframe{
    width: 100%;
}

footer p{
    z-index: 1;
    color: #000000;
    background-color: #880202;
}
