body{
  background-color: rgb(0, 0, 0);
  font-family: 'Lucida Bright';
}

/* Main Container design  ------ START*/
.login-box {
  position: relative;
  width: 400px;
  margin: 100px auto ;
  padding: 60px 80px;
  background:url(/Online-Voting-System/res/img/log_back.jpg) center;   
  background-size: cover;
  opacity: 0.6;
  box-shadow: 0px 30px 100px -5px #eceaca inset;
  border-radius: 50%;
}
.login-box:hover,
.login-box:focus{
    box-shadow: 0px 30px 50px -5px #ffdd7f ;
}
/* Main Container design  ------ END*/

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: 85px;
  position: relative;
}

form {
  padding-top: 80px;
}

h2 {
    border-bottom: 2px solid #15213b;
    padding-left: 12px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: inline-block;
}

span {
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  top: -65px;
  color: azure;
}

/* Input design  ------ START*/
.inp-field {
  display: block;
  height: 25px;
  border-radius: 20px;
  opacity: 0.1;
  margin-bottom: 8px;
  font-size: 14px;
  font-family: 'Times New Roman';
}

.inp-field:focus,
.inp-field:hover {
  width: auto;
  opacity: 1;
  border: none;
  background-color: rgba(245, 245, 245, 0.596);
  font: inherit;
  color: #180e1f;
}

h2,
span {
  margin-left: 10px;
}
/* Input design  ------ END*/


/* Button design  ------ START*/
.signin {
    background: none;
    border: 2px solid;
    font: inherit;
    padding: 1em 2em;
    transition: 0.3s;
    color: #8fc866;
}

.signin:hover,
.signin:focus {
      box-shadow: inset 6.5em 0 0 0 #e4cb58;
      border: #e4cb58;
      color: #fff;
      letter-spacing:2px;
}

.up{
  position: relative;
  left: 140px;
  bottom: 70px;
}
a{
  text-decoration: none;
  color: #8fc866;
}
/* Button design ------ END*/