body {
  background-color: black;
  font-family: "Lucida Bright";
  padding: 0%;
  margin: 0%;
}

/*-------NavBar Start------*/
nav{
  width: 100%;
  background-image: radial-gradient(circle, #023788, #532a96);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li a{
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-image: radial-gradient(circle, #091d3b, #241241);
  color: white;
}

/*-------NavBar End------*/
main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
/*Box Design-------Start-------*/
.signup-box {
  width: 500px;
  height: 550px;

  background: url(/res/img/sign_up.jpg) center;
  background-size: cover;
  padding: 10px 0px 10px 50px;
  opacity: 0.8;
  box-shadow: 0px 0px 100px 5px #cad6ec inset;
  border-radius: 20px;
}

.signup-box:hover,
.signup-box:focus {
  animation: box-anim 5s linear infinite;
}
@keyframes box-anim {
  0% {
    opacity: 1;
    box-shadow: 10px 0px 50px -5px #e45858;
  }
  20% {
    opacity: 0.5;
    box-shadow: 0px 10px 50px 5px #817fff;
  }
  40% {
    opacity: 0.7;
    box-shadow: 10px 10px 50px 5px #e45858;
  }
  60% {
    opacity: 0.6;
    box-shadow: 0px 10px 50px 5px #817fff;
  }
  80% {
    opacity: 0.8;
    box-shadow: 10px 0px 50px 5px #e45858;
  }
  100% {
    opacity: 0.5;
    box-shadow: 10px 10px 50px 5px #817fff;
  }
}
/*Box Design-------END------*/

/*--------SIGN UP Heading Start---------*/
.cap {
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  font-weight: bold;
  margin-left: 30%;
  white-space: nowrap;
  overflow: hidden;
  animation: typo 3s steps(6) infinite normal both;
}

@keyframes typo {
  from {
    width: 0;
  }

  to {
    width: 5em;
  }
}
/*--------SIGN UP Heading End---------*/

/*------Form Design-------START----------*/


.form-control{
  width: 450px;
}
/*-----Input Fields Design-------START------*/
.form-control input {
  font-family: inherit;
  font-size: 14px;
  padding: 5px;
  height: 18px;
  width: 200px;
  border-radius: 20px;
  border: none;
  opacity: 0.3;
}


.form-control.success input {
  border: #2ecc71 2px solid;
}

.form-control.error input {
  border: #e74c3c 2px solid;
}


input[type="file"] {
  font-size: small;
}

input[type="file"]:focus,
input[type="file"]:hover {
  font-size: small;
}

.inp-field:focus,
.inp-field:hover {
  border: none;
  overflow: hidden;
  opacity: 1;
  background-color: rgba(245, 245, 245, 0.596);
  color: #180e1f;
}

/*Input Fields Design-------END*/
.form-control label {
  display: inline-block;
  width: 12em;
  font-size: larger;
  color: #EDF5E1;
}

.form-control i{
  display: inline-block;
  visibility: hidden;
  position: absolute;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  margin-left: 20px;
  visibility: hidden;
  display: inline-block;
}

.form-control.error small {
  visibility: visible;
}


/*Form Design-------END*/

/*SIGN UP Button Design-----START */
.signup {
  position: relative;
  top: -20px;
  left: 200px;
  background: none;
  border: 2px solid;
  height: 40px;
  transition: 0.3s;
  color: #8fc866;
}

.signup:hover {
  box-shadow: inset 6.5em 0 0 0 #e45858;
  border: #e4cb58;
  color: #fff;
  letter-spacing: 2px;
}
/*SIGN UP Button Design-----END */
